<p style="color: green"><%= notice %></p>

<h1>Upvotes</h1>

<div id="upvotes">
  <% @upvotes.each do |upvote| %>
    <%= render upvote %>
    <p>
      <%= link_to "Show this upvote", upvote %>
    </p>
  <% end %>
</div>

<%= link_to "New upvote", new_upvote_path %>
