<!-- app/views/reset/reset_password.html.erb -->

<h1>Password Reset</h1>

<% if @error %>
  <p class="error"><%= @error %></p>
<% end %>

<% if @success %>
  <p class="success"><%= @success %></p>
<% else %>
  <form action="/api/reset_password" method="post">
    <input type="hidden" name="reset_token" value="<%= @reset_token %>">
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required>
    <label for="password_confirmation">Confirm New Password:</label>
    <input type="password" id="password_confirmation" name="password_confirmation" required>
    <input type="submit" value="Reset Password">
  </form>
<% end %>
