<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <p>
    <strong>Vote type:</strong>
    <%= tag.vote_type %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= tag.frequency %>
  </p>

</div>
