<!-- app/views/sendgrid_mailer/send_password_reset.html.erb -->

<h1>Password Reset Request</h1>
<p>Hello,</p>
<p>Please click on the link below to reset your password:</p>
<p><a href="<%= @reset_url %>">Reset Password</a></p>
<p>This link will expire in one hour.</p>
