<h1>Editing reported content</h1>

<%= render "form", reported_content: @reported_content %>

<br>

<div>
  <%= link_to "Show this reported content", @reported_content %> |
  <%= link_to "Back to reported contents", reported_contents_path %>
</div>
